@font-face {
 font-family: IGL;
 src: url(http://www.kriyayogadebabaji.net/fuentes/My.eot) /* EOT file for IE */
}
@font-face {
 font-family: IGL;
 src: url(http://www.kriyayogadebabaji.net/fuentes/My.ttf) /* TTF file for CSS3 browsers */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: IGL;
 src: url(http://www.kriyayogadebabaji.net/fuentes/My.ttf) format('svg');
  }
}

