#menu{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-style:normal;
font-weight:normal;
background-color:#EFEFF0;
width:100%;
margin-right:auto;
margin-left:auto;
color:#000;
height:45px;
border-top:1px solid #8DC1D7;
border-bottom:1px solid #8DC1D7;}


#menu ul {	
margin-right:10px;
margin-left:20px;
background-color:#EFEFF0;}

#menu li {float:left;margin-left:20px;}
#menu li a:link{text-decoration:none;color:#000;}
#menu li a:visited{text-decoration:none;color:#000;}
#menu li a:hover{text-decoration:underline; color:#097BA6;}


